body {
  font-family: 'Indie Flower', cursive;
  background-color: #ad6044;
  display: flex;
  flex-direction: column;
}

.navbar-toggler {
  background-color: #ad6044;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

#title {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  font-weight: 600;
  color: #177A67;
}

.btn{
  background-color: rgba(23, 122, 103,.5);
  color: #F3E9D2;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: none;
}
:not(.btn-check)+.btn-primary:hover, .btn-primary:first-child:hover, .btn-primary:focus-visible, .btn-primary:hover{
  background-color: rgba(23, 122, 103,1);
  color: #F3E9D2;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: none;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:visited
.btn:focus-visible,
.btn:focus-within
.btn-primary:focus-visible {
  background-color: rgba(23, 122, 103, 1);
  color: #F3E9D2;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: none;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.savedPlantCard {
  display: flex;
  flex-direction: row;
}

#removePlantBtn {
  margin: 20px auto;
  margin-left: 30%;
  width: 40%; 
  font-size: 18px;
}

#removeUserBtns {
  margin: 20px auto;
  margin-left: 40%;
  width: 20%; 
  font-size: 18px;
}

.navbar-toggler-icon{
  background-image: none;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: none;
}

#plantCard {
  width: 75%;
  margin: 0% 0% 2% 4%;
}

#savedMain {
  padding: 2%; 
  margin: 0%;
}

@media only screen and (max-width: 900px) {

  #plantCard {
    width: 100%;
    margin: 2%;
  }

  .savedPlantCard {
    display: flex;
    flex-direction: column; 
  }

  #savedMain {
    padding-left: 0%;
  }

  #savedText {
    text-align: center;
  }

  #removeUserBtns {
    margin-left: 2%;
    width: 100%;
  }

  #removePlantBtn {
    margin-left: 0%;
    width: 100%;
  }
}