body {
  font-family: 'Indie Flower', cursive;
  background-color: #ad6044;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

#title {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  font-weight: 600;
  color: #177A67;
}

.btn{
  background-color: rgba(23, 122, 103,.5);
  color: #F3E9D2;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: none;
}
:not(.btn-check)+.btn-primary:hover, .btn-primary:first-child:hover, .btn-primary:focus-visible, .btn-primary:hover{
  background-color: rgba(23, 122, 103,1);
  color: #F3E9D2;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: none;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:visited
.btn:focus-visible,
.btn:focus-within
.btn-primary:focus-visible {
  background-color: rgba(23, 122, 103,1);
  color: #F3E9D2;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: none;
}


.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}
